<%= form_for @ticket do |f| %>
  <%= render 'shared/form_errors', obj: @ticket, name: 'ticket' %>

  <div class="field">
    <%= f.label :project %>
    <%= f.collection_select :project_id, Project.all, :id, :name, id: :ticket_project_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, ['new', 'blocked', 'in_progress', 'fixed'] %>
  </div>

  <div class="field">
    <%= f.label :assigned_to %>
  </div>

  <div class="field">
    <%= f.label :tags %>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, {}, multiple: true, size: Tag.count %>
  </div>

  <div class="actions">
    <%= f.submit @ticket.new_record? ? 'Create Ticket' : 'Update Ticket' %>
  </div>
<% end %>