<%= render 'tickets/header', ticket: @ticket %>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Creator</th>
      <th>Assignee</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @ticket.status %></td>
      <td>Creator</td>
      <td><%= @ticket.assignee.username if @ticket.assignee %></td>
  </tbody>
</table>

<h2>Comments</h2>

<%= render @ticket.comments %>

<% if logged_in? %>
  <%= render 'comments/form' %>
<% end %>
