<%= form_for @tag do |f| %>
  <%= render 'shared/form_errors', obj: @tag, name: 'tag' %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit @tag.new_record? ? 'Create Tag' : 'Update Tag' %>
<% end %>